# Don't track extensionless files
!*.*

# Don't track vscode junk
.vscode

*.pdf
*.jar
*.class
!po-uilib.jar

# Don't track test material
*.txt
1
requisicao
user
cumpridor
faltoso
notificacao
*.outhyp
*.diff
